* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding: 40px 20px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background-color: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background-color: #750929;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ffffff;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding: 110px 90px;
}

.contacts-container {
  margin: 60px 40px 0;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
  color: #ffffff;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}

.tech-skills-title,
.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.tech-skills-container,
.soft-skills-container {
  margin: 55px 40px 0;
}

.tech-skills-item,
.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: #f5f5f5;
}

.tech-skills-text,
.soft-skills-text {
  color: #d8dadd;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.projects-title,
.work-title,
.profession-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects-link,
.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.dots {
  color: #a8a8a8;
  font-weight: 100;
}

.projects-item {
  font-weight: 700;
  margin-left: 20px;
}

.projects {
  margin-bottom: 55px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.accent {
  color: #d10643;
}
.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.time-divider {
  color: #000000;
}
.prof-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}
.prof-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.faculty {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
